<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="global.css" />
</head>
<body>
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Lifeboat Stations Of Ireland" subTitle="Sign up or Log in" }}
    {{> welcome-menu }}
</div>
<div class="uk-container uk-margin uk-background-muted" >
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>

        <div class="uk-width-expand@m" >
            <h3 class="uk-heading-small">Explore Lifeboat Stations around Ireland</h3>
            <p>
                RNLI provides 24 hour search a rescue service and operates from 238 lifeboat stations around the UK and Ireland.
                Each of these stations are unique. Their location, lifeboat launch and recovery method and equipment used.
                They cater for different classes of lifeboats making all 238 stations different in small and big way from each other.
            </p>
            <p>
                This website will allow you to sing up and share your Lifeboat Station experiences with fellow lifeboat enthusiasts.
            </p>
            <h3 class="uk-text-primary">
                Please Sign up and explore Lifeboat stations around Ireland.
            </h3>
            {{> error}}
        </div>
        <div class="uk-width-auto@m">
            <img width="600" alt="500" src="images/station6.jpg" />
        </div>
    </div>
</div>
</body>
</html>